<div id="header">
    <div class="Boarder container">
        <h1>eEmployee</h1>
        <div class="container text-center slogan">
            <p>eEmployee provides you elastic, affordable IT department services.</p>
        </div>
    </div>
</div>
<section id="architecture">
    <div class="container text-center">
        <img src="static/img/world.png" alt="Architecture">
        <div class="img-text">
            <p>Business customers subscribe any amount of Chinese or Indian employees per month or year and work for them.</p>
        </div>
    </div>
</section>

<section id="ideas">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12 question ">
                <p>?</p>
                <h3>If we can gather them and provide their talent as services</h3>    
            </div>
        </div>
        
        <div class="row">
            <!--Left-->
            <div class="col-lg-3 left">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h3>USA Developer</h3>
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h3>USA Designer</h3>
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h3>USA Tester</h3>
                        </div>    
                    </div>
                </div>  
            </div>
            <!--Middle-->
            <div class="col-lg-6 middle">
                <img src="static/img/roundtable.jpg" alt="Round Table">
            </div>
            <!--Right-->
            <div class="col-lg-3 right">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h3>Chinese Developer</h3>
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h3>Chinese Designer</h3>
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h3>Chinese Tester</h3>
                        </div>    
                    </div>
                </div>  
            </div>
        </div>
        
    </div>
</section>

<section id="info">
    <div class="container text-center"></div>
</section>

<section id="contact-me">
    <div class="container"></div>
</section>

<footer class="container-fluid text-center">
    <p>Created by <em>Fang Du</em> <a href="https://www.linkedin.com/in/fang-du-b76127b2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></p>
</footer>